body{
    font-family:Arial, Helvetica, sans-serif ;
}

.texto1{
    background-color: rgb(245, 235, 235);
    padding: 8px;
    border: 1px solid rgb(233, 224, 224);
    border-radius: 8px;
    width: 300px;
    margin: 8px auto;
}

.texto2{
    text-align: center;
    padding: 16px;
}

.aprovado{
    background-color: rgb(127, 243, 127);
}

.reprovado{
    background-color: rgb(229, 69, 69);
}

.ferro{
    width: 280px;
    height: 200px;
}

.preco{
    text-decoration: line-through;
}